.phone-wrapper{
  border-radius:20px;
  box-shadow: rgb(82, 82, 82, 0.5) 0px 10px 30px;
  display: flex;
  margin:auto;
  height: 736px;
  width: 414px;

}
.social-card{
  width:100%;
}

.card-header{
  min-width:100%;
  display:grid;
}

.card-header .profile-picture{
  width:68px;
  height:68px;
  border-radius:100%;
}

.card-header .profile-picture img{
  width:100%;
  height:100%;
  border-radius:100%;
}